<html>
  <head></head>
  <body>
    <h1>Welcome to the Music Library Database</h1>
    
      <div>
      <a href="/albums">Click here to access the Album database</a>
      </div>
      <div>
      <a href="/artists">Click here to access the Artist database</a>
      </div>

  </body>
</html>