<html>
  <head></head>
  <body>
    <form method="POST" action="/artists">
      <h1>Add a new artist</h1>
      
      <label for="name">Artist Name: </label><input type="text" name="artist_name"><br>
      <label for="genre">Genre: </label><input type="text" name="artist_genre"><br>

      <input type="submit">
    </form>
  </body>
</html>