<html>
  <head></head>
  <body>
    <form method="POST" action="/albums">
      <h1>Add a new album</h1>
      
      <label for="title">Album Title: </label><input type="text" name="album_title"><br>
      <label for="release_year">Release Year: </label><input type="text" name="album_release_year"><br>
      <label for="artist_id">Artist ID: </label><input type="text" name="album_artist_id"><br>

      <input type="submit">
    </form>
  </body>
</html>